h3 {
    color: antiquewhite;
    background: #000;
}
#box {
    background-color: blue;

}
.heading {
    color: red;
}
.Nm {
    background-color: green;
}
p {
    text-align: center;
    text-decoration-style: solid;
}
.main {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
.kl{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.maink {
    font-size: 25px;
}
.k{
font-size: 15px;
}